@import "./font.css";
@import "./layout.css";
@import "./headings.css";
@import "./input.css";
@import "./button.css";
@import "./form.css";
@import "./link.css";

:root,
input {
  font-family: "Jost", sans-serif;
  letter-spacing: 1;
}

@supports (font-variation-settings: normal) {
  :root,
  input {
    font-optical-sizing: auto;
    font-family: "JostVariable", sans-serif;
  }
}

:root {
  --color-base: #366994;
  --color-bg: #f6f4e5;
  --color-accent: #356a9c;
  --color-text-fade: #d5d5d5;
  --color-success: #a2c614;
  --color-error: #e4481c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}
