package page

import "github.com/qxuken/short/web/template/component"

templ Index(devMode bool, baseUrl, urlErr, shortErr string) {
	@component.DefaultLayout(devMode, "SHORTIQ") {
		@component.CreateLink(baseUrl, "generated", urlErr, shortErr)
	}
}
