package page

import "github.com/qxuken/short/web/template/component"

templ Stats(devMode bool, short templ.SafeURL, notification string) {
	@component.DefaultLayout(devMode, "SHORTIQ") {
		@component.LinkStats(short, notification)
	}
}
