package component

templ DefaultLayout(devMode bool, title string) {
	@htmlTemplate(devMode, title) {
		<div class="default-layout">
			<a href="/">
				@MainHeading(title)
			</a>
			{ children... }
		</div>
	}
}
